In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('train_loan.csv')
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

A new feature ->  Loan Amount / Total Income can be created

In [8]:
df['total_income'] = df['ApplicantIncome'] + df['CoapplicantIncome']

In [24]:
def func(x):
  if x > 0:
    return x
  else:
    return 1

divide = df.LoanAmount.apply( lambda x: func(x) )
divide

0        1.0
1      128.0
2       66.0
3      120.0
4      141.0
       ...
609     71.0
610     40.0
611    253.0
612    187.0
613    133.0
Name: LoanAmount, Length: 614, dtype: float64

In [32]:
df['IncometoLoan'] = divide / df.total_income

df.IncometoLoan

0      0.000171
1      0.021015
2      0.022000
3      0.024287
4      0.023500
         ...
609    0.024483
610    0.009742
611    0.030438
612    0.024660
613    0.029020
Name: IncometoLoan, Length: 614, dtype: float64