In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('forward_feature_selection.csv')
data.head()

,ID,season,holiday,workingday,weather,temp,humidity,windspeed,count
0,AB101,1,0,0,1,9.84,81,0.0,16
1,AB102,1,0,0,1,9.02,80,0.0,40
2,AB103,1,0,0,1,9.02,80,0.0,32
3,AB104,1,0,0,1,9.84,75,0.0,13
4,AB105,1,0,0,1,9.84,75,0.0,1

In [3]:
x = data.drop(['count', 'ID'], axis = 1)
y = data['count']

In [4]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.linear_model import LinearRegression

In [5]:
LR = LinearRegression()
sfs1 = sfs(LR, k_features=5, forward=True, verbose=2, scoring='neg_mean_squared_error')

In [6]:
sfs1.fit(x, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    0.0s finished

[2021-11-29 01:26:48] Features: 1/5 -- score: -23364.955503180994[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.0s finished

[2021-11-29 01:26:48] Features: 2/5 -- score: -21454.899339219788[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

[2021-11-29 01:26:48] Features: 3/5 -- score: -21458.27878856439[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.0s finished

[2021-11-29 01:26:48] Features: 4/5 -- score: -21477.98857350279[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s finished

[2021-11-29 01:26:48] Features: 5/5 -- score: -21555.45783585459

SequentialFeatureSelector(estimator=LinearRegression(), k_features=5,
                          scoring='neg_mean_squared_error', verbose=2)

In [7]:
feature_names = list(sfs1.k_feature_names_)
feature_names.append('ID')
feature_names

['holiday', 'workingday', 'weather', 'temp', 'humidity', 'ID']

In [8]:
final_data = data[feature_names]
final_data.head()

   holiday  workingday  weather  temp  humidity     ID
0        0           0        1  9.84        81  AB101
1        0           0        1  9.02        80  AB102
2        0           0        1  9.02        80  AB103
3        0           0        1  9.84        75  AB104
4        0           0        1  9.84        75  AB105

In [9]:
data.shape, final_data.shape

((12980, 9), (12980, 6))