In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('backward_feature_elimination.csv')
data.head()

,ID,season,holiday,workingday,weather,temp,humidity,windspeed,count
0,AB101,1,0,0,1,9.84,81,0.0,16
1,AB102,1,0,0,1,9.02,80,0.0,40
2,AB103,1,0,0,1,9.02,80,0.0,32
3,AB104,1,0,0,1,9.84,75,0.0,13
4,AB105,1,0,0,1,9.84,75,0.0,1

In [3]:
x = data.drop(['count', 'ID'], axis=1)
y = data['count']

In [4]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\manish\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\manish\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\manish\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: setuptools in c:\users\manish\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\manish\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\manish\anaconda3\lib\site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\manish\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\manish\anaconda3\lib\site-packages (from mlxtend) (1.21.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\manish\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\manish\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\manish\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\manish\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\manish\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: six in c:\users\manish\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\manish\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\manish\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)

In [5]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.linear_model import LinearRegression

In [6]:
LR = LinearRegression()
sfs1 = sfs(LR, k_features=5, forward=False, verbose=1, scoring='neg_mean_squared_error')

In [7]:
sfs1.fit(x, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    0.1s finished
Features: 6/5[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.0s finished
Features: 5/5

SequentialFeatureSelector(estimator=LinearRegression(), forward=False,
                          k_features=5, scoring='neg_mean_squared_error',
                          verbose=1)

In [8]:
final_features = list(sfs1.k_feature_names_)
final_features

['holiday', 'workingday', 'weather', 'temp', 'humidity']

In [9]:
final_data = data[final_features]
final_data['count'] = data['count']

<ipython-input-9-a60f32e80761>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['count'] = data['count']

In [10]:
final_data.head()

   holiday  workingday  weather  temp  humidity  count
0        0           0        1  9.84        81     16
1        0           0        1  9.02        80     40
2        0           0        1  9.02        80     32
3        0           0        1  9.84        75     13
4        0           0        1  9.84        75      1

In [11]:
data.shape, final_data.shape

((12980, 9), (12980, 6))