In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('missing_value_ratio.csv')
data.head()

,ID,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,AB101,1.0,0.0,0.0,1.0,9.84,14.395,81.0,NaN,16
1,AB102,1.0,NaN,0.0,NaN,9.02,13.635,80.0,NaN,40
2,AB103,1.0,0.0,NaN,1.0,9.02,13.635,80.0,NaN,32
3,AB104,NaN,0.0,NaN,1.0,9.84,14.395,75.0,NaN,13
4,AB105,1.0,NaN,0.0,NaN,9.84,14.395,NaN,16.9979,1

In [3]:
data.shape

(12980, 10)

In [4]:
data.isnull().sum()

ID               0
season           9
holiday       6295
workingday       9
weather          4
temp             0
atemp            0
humidity         5
windspeed     5324
count            0
dtype: int64

In [7]:
#percentage of missing value
a = data.isnull().sum()/len(data) * 100
a

ID             0.000000
season         0.069337
holiday       48.497689
workingday     0.069337
weather        0.030817
temp           0.000000
atemp          0.000000
humidity       0.038521
windspeed     41.016949
count          0.000000
dtype: float64

In [6]:
variables = data.columns

In [8]:
final_variables = []
for i in range(len(variables)):
    if a[i] <= 40:
        final_variables.append(variables[i])

final_variables

['ID', 'season', 'workingday', 'weather', 'temp', 'atemp', 'humidity', 'count']

In [9]:
final_Data = data[final_variables]
final_Data.shape

(12980, 8)

In [10]:
final_Data.isnull().sum()/len(final_Data) * 100

ID            0.000000
season        0.069337
workingday    0.069337
weather       0.030817
temp          0.000000
atemp         0.000000
humidity      0.038521
count         0.000000
dtype: float64