Hold Out and Stratify Hold Out Validation

In [1]:
#importing libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('data_cleaned.csv')

In [3]:
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
data.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [5]:
x = data.drop(['Survived'], axis=1)
y = data['Survived']

In [6]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.20, random_state = 56)

In [7]:
train_x, val_x, train_y, val_y = train_test_split(train_x, train_y, test_size=0.2, random_state = 44)

print('training data', train_x.shape, train_y.shape)
print('test data', test_x.shape, test_y.shape)
print('validation data', val_x.shape, val_y.shape)

training data (569, 24) (569,)
test data (179, 24) (179,)
validation data (143, 24) (143,)

In [8]:
train_y.value_counts()/len(train_y)

0    0.615114
1    0.384886
Name: Survived, dtype: float64

In [9]:
val_y.value_counts()/len(val_y)

0    0.58042
1    0.41958
Name: Survived, dtype: float64

In [10]:
test_y.value_counts()/len(test_y)

0    0.648045
1    0.351955
Name: Survived, dtype: float64

Stratifying the data and then checking the distribution

In [11]:
x = data.drop(['Survived'], axis=1)
y = data['Survived']

In [12]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.20, random_state = 56, stratify=y)

In [13]:
train_x, val_x, train_y, val_y = train_test_split(train_x, train_y, test_size=0.2, random_state = 44, stratify=train_y)

print('training data', train_x.shape, train_y.shape)
print('test data', test_x.shape, test_y.shape)
print('validation data', val_x.shape, val_y.shape)

training data (569, 24) (569,)
test data (179, 24) (179,)
validation data (143, 24) (143,)

In [14]:
train_y.value_counts()/len(train_y)

0    0.616872
1    0.383128
Name: Survived, dtype: float64

In [15]:
val_y.value_counts()/len(val_y)

0    0.615385
1    0.384615
Name: Survived, dtype: float64

In [16]:
test_y.value_counts()/len(test_y)

0    0.614525
1    0.385475
Name: Survived, dtype: float64

We can see that proportion of classes in all the three sets is same