In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import normalize

In [2]:
data = pd.read_csv('low_variance_filter.csv')
data.head()

      ID  temp   atemp  humidity  windspeed  count
0  AB101  9.84  14.395        81        0.0     16
1  AB102  9.02  13.635        80        0.0     40
2  AB103  9.02  13.635        80        0.0     32
3  AB104  9.84  14.395        75        0.0     13
4  AB105  9.84  14.395        75        0.0      1

In [3]:
data.var()

temp            61.291712
atemp           73.137484
humidity       398.549141
windspeed       69.322053
count        25843.419864
dtype: float64

In [5]:
data.dtypes

ID            object
temp         float64
atemp        float64
humidity       int64
windspeed    float64
count          int64
dtype: object

In [6]:
data.drop(['ID'], axis=1, inplace=True)
data.head()

   temp   atemp  humidity  windspeed  count
0  9.84  14.395        81        0.0     16
1  9.02  13.635        80        0.0     40
2  9.02  13.635        80        0.0     32
3  9.84  14.395        75        0.0     13
4  9.84  14.395        75        0.0      1

In [8]:
data_normalized = normalize(data)
data_normalized

array([[0.11660665, 0.17058463, 0.95987185, 0.        , 0.18960432],
       [0.09920313, 0.1499595 , 0.87985039, 0.        , 0.4399252 ],
       [0.10285074, 0.15547337, 0.91220166, 0.        , 0.36488066],
       ...,
       [0.18348526, 0.22739183, 0.3438302 , 0.07093817, 0.88959243],
       [0.34846911, 0.43185501, 0.65299089, 0.13472342, 0.49751687],
       [0.21927331, 0.24058226, 0.74372424, 0.09193267, 0.5765952 ]])

In [9]:
columns = data.columns
columns

Index(['temp', 'atemp', 'humidity', 'windspeed', 'count'], dtype='object')

In [11]:
data_normalized = pd.DataFrame(data_normalized)
data_normalized

              0         1         2         3         4
0      0.116607  0.170585  0.959872  0.000000  0.189604
1      0.099203  0.149960  0.879850  0.000000  0.439925
2      0.102851  0.155473  0.912202  0.000000  0.364881
3      0.126009  0.184339  0.960431  0.000000  0.166475
4      0.127781  0.186932  0.973940  0.000000  0.012986
...         ...       ...       ...       ...       ...
12975  0.119080  0.141100  0.132592  0.053662  0.972343
12976  0.142005  0.167801  0.213451  0.052348  0.950461
12977  0.183485  0.227392  0.343830  0.070938  0.889592
12978  0.348469  0.431855  0.652991  0.134723  0.497517
12979  0.219273  0.240582  0.743724  0.091933  0.576595

[12980 rows x 5 columns]

In [12]:
var_of_normalized_data = data_normalized.var()
var_of_normalized_data

0    0.005877
1    0.007977
2    0.093491
3    0.008756
4    0.111977
dtype: float64

In [13]:
final_variables = []
#keeping the threshold as 0.006
for i in range(len(var_of_normalized_data)):
    if var_of_normalized_data[i] >= 0.006:
        final_variables.append(columns[i])

final_variables

['atemp', 'humidity', 'windspeed', 'count']

In [14]:
final_data = data[columns]
final_data.head()

   temp   atemp  humidity  windspeed  count
0  9.84  14.395        81        0.0     16
1  9.02  13.635        80        0.0     40
2  9.02  13.635        80        0.0     32
3  9.84  14.395        75        0.0     13
4  9.84  14.395        75        0.0      1

In [15]:
final_data.var()

temp            61.291712
atemp           73.137484
humidity       398.549141
windspeed       69.322053
count        25843.419864
dtype: float64

In [16]:
data.shape, final_data.shape

((12980, 5), (12980, 5))