**Extracting Information using Regular Expression**

In [2]:
path = "C:\Users\nathan"
print("String: ", path)

SyntaxError: ignored

In [3]:
path = r"C:\Users\nathan"
print("String: ", path)

String:  C:\Users\nathan

Always Use raw strings while dealing with regular expressions

Python has built in module to work with regular expression re.

1. re.search()
2. re.match()
3. re.findall()

re.match() returns a match object on success and nothing on failure

In [4]:
import re

re1 = re.match('Football', r'Football is the greatest sport of all time') #returns a match object on success. checks if the pattern matches beginning of the string
print(re1)

re2 = re.match('cricket', r'Football is the greatest sport of all time')
print(re2)

<re.Match object; span=(0, 8), match='Football'>
None

In [5]:
#group function is used to get the matched expression from the object
re1.group()

'Football'

**re.search()**

Matches the first occurence of the pattern in the entire string

In [6]:
#finds the first occurence of founded in the given string
re1 = re.search('founded', r'Andrew ng founded Coursera. He also founded deeplearning.ai')
print(re1.group())

founded

**re.findall()**

In [8]:
#returns a list of all occurences of a pattern in the string 
re1 = re.findall('founded', r'Andrew ng founded Coursera. He also founded deeplearning.ai')
re1

['founded', 'founded']

**Special Sequences**
1. \A returns a match if a specified pattern is at the beginning of the string

In [9]:
re1 = re.findall('\AFootball', r'Football is the greatest sport of All time')
re1

['Football']

In [10]:
re2 = re.findall('\Athe', r'Football is the greatest sport of All time')
re2

[]

2. \b returns a match if the specified pattern is at the beginning or the end of the word

In [19]:
re1 = re.findall(r'est\b', r'Football is the greatest sport of All time')
re1

['est']

In [21]:
re2 = re.findall(r'all\b', r'Football is the greatest sport of all time')
re2

['all', 'all']

3. \B returns a match if the specified pattern is present but not at the beginning

In [43]:
re1 = re.findall(r'\Bea', r'Football is the greatest sport of all time')
re1

['ea']

4. \d Returns a match where the string contains digit

In [27]:
str = r"2 million monthly visits in Jan'19."

#checks if the string contains any digit
re1 = re.findall(r'\d', str)

print(re1)

if re1:
  print("Yes there is atleast one match")
else:
  print("No match found")

['2', '1', '9']
Yes there is atleast one match

Adding '+' after '\d' will continue to extract digits till encounters a space

In [28]:
re1 = re.findall(r'\d+', str)

print(re1)

if re1:
  print("Yes there is atleast one match")
else:
  print("No match found")

['2', '19']
Yes there is atleast one match

5. \D Returns a match where the string doesnot contain any digit

In [30]:
#check if string doesnot contain any digit

re1 = re.findall(r"\D", str)
print(re1)

if re1:
  print("Yes, there is a match")
else:
  print("No Match")

[' ', 'm', 'i', 'l', 'l', 'i', 'o', 'n', ' ', 'm', 'o', 'n', 't', 'h', 'l', 'y', ' ', 'v', 'i', 's', 'i', 't', 's', ' ', 'i', 'n', ' ', 'J', 'a', 'n', "'", '.']
Yes, there is a match

In [31]:
re1 = re.findall(r"\D+", str)
print(re1)

if re1:
  print("Yes, there is a match")
else:
  print("No Match")

[" million monthly visits in Jan'", '.']
Yes, there is a match

6. \w Helps in the extraction of Alphanumeric characters

In [40]:
str = r"2 million monthly visits!"

x = re.findall("\w",str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', 'm', 'i', 'l', 'l', 'i', 'o', 'n', 'm', 'o', 'n', 't', 'h', 'l', 'y', 'v', 'i', 's', 'i', 't', 's']
Yes, there is at least one match!

In [41]:
x = re.findall("\w+",str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', 'million', 'monthly', 'visits']
Yes, there is at least one match!

7. \W returns match at every non alphanumeric character

In [42]:
x = re.findall("\W", str)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ', '!']
Yes, there is at least one match!

**Metacharacters**

Characters with special meaning

1. (.) matches any character except newline

In [44]:
str = r"Sab Moh Maya hai"

re1 = re.findall('M..', str)

print(re1)

['Moh', 'May']

2. (^) -> Checks if the string starts with

In [45]:
re1 = re.findall('^Sab', str)

if re1:
  print("The string starts with ", re1[0])
else:
  print("No match")

The string starts with  Sab

In [46]:
re2 = re.findall("^Data", r'Big Data')

if re2:
  print("The string starts with ", re2[0])
else:
  print("No match")

No match

3. ($) checks if the string ends with

In [48]:
re1 = re.findall("Science$", r'Data Science')

if re1:
  print("The string ends with ", re1[0])
else:
  print("No match")

The string ends with  Science

4. (*) Matches for 0 or more occurences of pattern to left of it

In [53]:
#checks if the string contains ea followed by 0 or more occurences of s and then y
re1 = re.findall("eas*y", r'easy easssy eay ey')

print(re1)

if re1:
  print("There is atleast 1 match")
else:
  print("No match")

['easy', 'easssy', 'eay']
There is atleast 1 match

In [54]:
#checks if the string contains ea followed by 1 or more occurences of s and then y
re2 = re.findall("eas+y", r"easy easssy eay ey")

print(re2)

if re2:
  print("There is atleast 1 match")
else:
  print("No match")

['easy', 'easssy']
There is atleast 1 match

6. (?) Matches 0 or 1 occurence of character to the left of it

In [55]:
re1 = re.findall("eas?y", r"easy easssy eay ey")

print(re1)

if re1:
  print("There is atleast 1 match")
else:
  print("No match")

['easy', 'eay']
There is atleast 1 match

7. (|) either or

In [57]:
#checks if either Data or science is present in the string
re1 = re.findall("Data|science", r"Data science")

print(re1)

if re1:
  print("There is atleast 1 match")
else:
  print("No match")

['Data', 'science']
There is atleast 1 match

**Sets**

In [58]:
re1 = re.findall("[alesr]", r"Football is the greatest sport of all time")

print(re1)

if re1:
  print("There is atleast 1 match")
else:
  print("No match")

['a', 'l', 'l', 's', 'e', 'r', 'e', 'a', 'e', 's', 's', 'r', 'a', 'l', 'l', 'e']
There is atleast 1 match

In [59]:
re2 = re.findall("[a-e]", r"Football is the greatest sport of all time")

print(re2)

if re2:
  print("There is atleast 1 match")
else:
  print("No match")

['b', 'a', 'e', 'e', 'a', 'e', 'a', 'e']
There is atleast 1 match

**Problems**

In [63]:
str = "Mars' average distance from the Sun is roughly 230 million km and its orbital period is 687 (Earth) days."

# extract the numbers starting with 0 to 4 from in the above string
re1 = re.findall("[0-4]\d+", str)

print(re1)

if re1:
  print("There is atleast 1 match")
else:
  print("No match")

['230']
There is atleast 1 match

2. [^] checks if the string has all the characters other than the specied after ^ in the set

In [64]:
str = r"Apples and oranges"

re1 = re.findall("[^ang]", str)

print(re1)

if re1:
  print("There is atleast 1 match")
else:
  print("No match")

['A', 'p', 'p', 'l', 'e', 's', ' ', 'd', ' ', 'o', 'r', 'e', 's']
There is atleast 1 match

3. **[a-zA-Z0-9]** Check whether string has alphanumeric characters

In [74]:
str = r"!Ah, there is the boat"

# extract words that start with a special character

re1 = re.findall("[^a-zA-Z0-9 ]\w+", str)

print(re1)

if re1:
  print("There is atleast 1 match")
else:
  print("No match")

['!Ah']
There is atleast 1 match

**Extracting Email Ids**

In [82]:
str = r'Send a mail to rohan.1997@gmail.com, smith_david34@yahoo.com and priya@yahoo.com about the meeting @2PM'
  
# \w matches any alpha numeric character 
# + for repeats a character one or more times 

x = re.findall("[a-zA-Z0-9._-]+@\w+\.com", str)

print(x)

['rohan.1997@gmail.com', 'smith_david34@yahoo.com', 'priya@yahoo.com']

**Extracting Dates**

In [83]:
text = r"London Olympic 2012 was held from 2012-07-27 to 2012/08/12."

re.findall("\d{4}.\d{2}.\d{2}", text)

['2012-07-27', '2012/08/12']

In [85]:
text = r"London Olympic 2012 was held from 27 Jul 2012 to 12-Aug-2012."

re.findall("\d{2}.\w+.\d{4}", text)

['27 Jul 2012', '12-Aug-2012']

In [87]:
# extract dates with varying lengths
text = r"London Olympic 2012 was held from 27 July 2012 to 12 August 2012."

re.findall("\d{2}.\w+.\d{4}", text)

['27 July 2012', '12 August 2012']

**Extracting Titles from names**

In [88]:
import pandas as pd

df = pd.read_csv("titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [92]:
name = "Allen, Mr. William Henry"
name2 = name.split('.')[0]

In [95]:
final = name2.split(', ')[1]
final

'Mr'

In [96]:
title = df['Name'].apply(lambda x: x.split('.')[0].split(', ')[1])
title.value_counts()

Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Major             2
Mlle              2
Col               2
Jonkheer          1
Sir               1
Lady              1
Ms                1
the Countess      1
Capt              1
Don               1
Mme               1
Name: Name, dtype: int64

This might not work all the time. Another way is by using regex

In [123]:
def apply_reg(name):
  return re.findall("\w+\.", name)[0].split('.')[0]

In [124]:
apply_reg("Allen, Mr. William Henry")

'Mr'

In [126]:
title = df.Name.apply(lambda x: apply_reg(x))
title.value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Major         2
Mlle          2
Col           2
Jonkheer      1
Sir           1
Countess      1
Ms            1
Mme           1
Capt          1
Don           1
Lady          1
Name: Name, dtype: int64